## SYNOPSYS ##

# Synopsys Bridge
.bridge
bridge.log
bridge_state.json
idir

# Coverity on Polaris
.synopsys
.polaris-output.zip

# Sigma
sigma-results.json

# Project related
.vs
*.suo
*.user
*.sln.docstates
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
app/
packages
